
body, html {
	margin:0px;
	padding:0px;
	height: 100%;
}
* html #maket {
	height: 100%;
}
*{
	box-sizing: border-box;
}
body,html{
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: 'Arial', sans-serif;
}
.container{
	width: 1200px;
	margin: auto;
}

/*banner*/
.banner-img{
	background-image: url(../img/portfolio-de-design-dicas.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	height: 100vh;
	filter: blur(4px);
}
.name{
	font-weight: bold;
	text-transform: uppercase;
	/*color: #ffaaaa;*/
	color: orangered;
	font-size: 28px;
}
.banner-text{
	position: absolute;
	top: 50%;
	left: 50%;
	transform:translate( -50%, -50%);
	z-index: 5;
	width: 45%;
	text-align: center;
	padding: 40px 0;
	border-top-left-radius: 70px;
	border-bottom-right-radius: 70px;
	background-color: rgba(0,0,0,0.3);
	color: #fff;
	font-weight: bold;
	border: 10px inset #fff;
}
.banner-link{
	display: inline-block;
	padding: 10px 50px;
	border: 2px solid #fff;
	font-size: 18px;
	text-decoration: none;
	color: #fff;
	margin-top: 15px;
}
.banner-link:hover{
	background-color: #fff;
	color: #000;
	transition: 0.3s;
}
.navbar{
	display: flex;
	background-color: skyblue;
	padding: 22px;
}
зщ
.navbar__links{
	list-style-type: none; 
	display: flex;
	margin: 0;
	padding: 0;	
}
.navbar__logo{
	margin-right: auto;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 20px;
}
.link{
	margin-right: 18px;
	text-transform: uppercase;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 20px;
	color: #000;
	text-decoration: none;
}


